.search-user {
    text-align: center;
    margin-top: 4em;
}

input {
    border: 2px solid black;
    border-radius: 3rem;
    width: 40%;
    margin: 2rem;
    padding: 0.7rem;
}

img {
    width: 280px;
    height: auto;
    border-radius: 50%;
    padding-bottom: 3rem;
    border: white;
}

.text-center {
    background-color: black;
    border: 5px solid black
}