<h1 class="text-center mt-3">Look up Profile</h1>

<div class="container">
    <div class="search-user">
        <input type="text" [(ngModel)]="username">
        <button type="button" class="btn btn-primary" (click)="lookUpProfile()">Check</button>
    </div>

    <div class="text-center" *ngIf="user && error==false">
        <h3>User:
            <a [href]="(user.html_url | safe:'url') " target="_blank" *ngIf="user.login;else showJustUsername">{{user.login}}</a>
            <ng-template #showJustUsername>{{_username}}</ng-template>
        </h3>
        <img [src]="user.avatar_url">

        <div class="search-results" infinite-scroll (scrolled)="onScroll()" [infiniteScrollDistance]="2">
            <div *ngFor="let item of user.repositories" class="text-center">
                <p><strong>Repository name: </strong>
                    <a [href]="(item.git_url | safe:'url') " target="_blank">{{item.name}}</a>
                </p>
                <p *ngIf="item.language">Language: {{item.language}}</p>
                <p *ngIf="item.description">Description: {{item.description}}</p>
                <p>Created at: {{item.created_at}}</p>
                <p>Updated at: {{item.updated_at}}</p>
                <p *ngIf="item.homepage">Homepage: <a [href]="(item.homepage | safe:'url') " target="_blank">{{item.homepage}}</a></p>
                <br>
            </div>
            <div *ngIf="user.repositories==undefined || user.repositories.length==0">
                <h3>User {{_username}} has no repositories</h3>
            </div>
        </div>


    </div>
    <ng-container *ngIf="error">
        <h3 class="text-center mt-3">User Not Found :( </h3>
    </ng-container>


</div>